.address {
    display: flex;
    justify-content: space-between;
    &-card{
        height: 17rem;
        font-style: unset;
    }
    &__name {
        color: $c_blue_light;
        font-weight: bolder;
    }
}