.menu {
    list-style: none;
    display: flex;
    &__item {
        padding: 0 1.5rem;
    }
    
    &__header {
        color: $c_blue_light;
        font-size: 1.6rem;
    }

    &__link {
        color: $c_black;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-family: "Open Sans";
        font-weight: lighter;
        text-decoration: none;
        &:hover {
            color: $c_orange;
            border-bottom: 1px solid $c_orange;
        }
    }
    &-column {
        flex-direction: column;
    }
}
.footer {
    .menu {
        line-height: 1.5rem;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        &__link {
            text-transform: none;
            color: $c_blue_light;
            &:hover {
                border-bottom: none;
            }
        }
    }
}