-var products = 0;
.header-mobile
    .hamburger.hamburger--slider.js-hamburger
        .hamburger-box
            .hamburger-inner
    img.header-mobile__logo(src=require("../../img/logo.png"))
.container
    h1.page__header Оборудование
    .page-content
        section.section.products-section.page-section
            while products++ < 12
                .products-card
                    img.products-card__image(src=require("../../img/product.png"), alt="")
                    .products-card-container
                        a.products-card__name(href="#!") Lorem ipsum
                        p.products-card__description 
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        aside.side.page-sidebar
            nav.categories-nav
                ul.categories-nav__list
                    li.categories-nav__item
                        a.categories-nav__link(href="#") Категория 1
                    li.categories-nav__item
                        a.categories-nav__link(href="#") Категория 2
                    li.categories-nav__item.categories-nav__item_active
                        a.categories-nav__link.categories-nav__link_active(href="#") Категория 3
                    li.categories-nav__item
                        a.categories-nav__link(href="#") Категория 4
                    li.categories-nav__item
                        a.categories-nav__link(href="#") Категория 5
            img.side-banner(src=require("../../img/banner.png"))
            article.side-post
                img.side-post__image(src=require("../../img/post-image.png"))
                .side-post-container
                    a.side-post__link(href="#") Сложившаяся структура организации
                    p.side-post__excerpt Повседневная практика показывает, что укрепление и развитие структуры позволяет
                    footer.side-post-footer
                        date.side-post__date 26.10.2017
                        a.side-post__expand >
