div(style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; padding-top: 50px;")
    h1 MIRA TEMPLATE
    div(style="background-image: url(${require(`./img/logo.png`)}); width: 600px; height: 600px; background-size: contain; margin-bottom: 15px;")
    a(href="#" style="font-size: 1.4rem; color: #1db5b3; font-family: Robotol font-weight: 300") go to website