.footer {
    max-height: 50rem;
    padding-top: 6rem;
    &__menu {
        display: flex;
        justify-content: center;
    }
    &__contacts {
        display: flex;
        justify-content: flex-end;
    }
}

.footer-copyright{
    &__logo {
        max-width: 30rem;
    }
}

.footer-credentials {
    // display: flex;
    // justify-content: flex-end;
    &__item {
        color: $c_blue_dark;
        font-size: 2rem;
        display: flex;
        a {
            text-decoration: none;
            color: inherit;
        }
        p {
            font-size: inherit;
        }
    }
}

.footer-copyright {
    display: flex;
    justify-content: space-around;

    &__info {
        max-width: 50rem;
        color: $c_gray_main;
    }
}