.site-header {
    background-color: white;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e5e5e5;
    transition: all 250ms;
    z-index: 1000;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__left {
        margin-right: 15px;
        width: 105px;
        img {
            max-height: 100%;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            justify-content: space-between;
            width: 798px;
            margin-right: 53px;
            list-style-type: none;
            li {
                &:not(:last-child) {
                    margin-right: 17px;
                }
                a {
                    font: 300 12px $f-os;
                    letter-spacing: 50 / 1000 * 1em;
                    color: black;
                    text-transform: uppercase;
                    text-decoration: unset;
                    transition: all 300ms;
                    padding: 3px 0;
                    border-bottom: 1px solid transparent;
                    &:hover,&.active {
                        color: $c-orange;
                        border-bottom: 1px solid orange;
                    }
                }
            }
        }
    }
    &-mobile {
        padding: 0;
        box-shadow: 0px 0px 36px rgba(82, 82, 82, 0.25);
        background-color: #ffffff;
        border-left: 1px solid #dedede; 
        &-close {
            padding: 0 25px;
            font-size: 20px;
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #c1c1c1;
            .fa {
                cursor: pointer;

                &:hover {
                    color: #9c9c9c;
                }
            }
        }
        &-title {
            text-align: center;
            font: normal 18px $f-os;
            color: black;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            li {
                width: 100%;
                padding: 0 25px;
                border-top: 1px solid rgba(255, 255, 255, 0.15);
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                position: relative;
            }
            &-multi {
                &:before {
                    content: "\f142";
                    position: absolute;
                    top: 19px;
                    right: 9px;
                    color: $c-orange;
                    font: normal normal normal 14px/1 FontAwesome;

                }
            }
            a {
                text-decoration: none;
                width: 100%;
                padding: 20px 0;
                display: block;
                font: normal 12px $f-os;
                letter-spacing: 100 / 1000 * 1em;
                color: black;
                text-transform: uppercase;
                transition: color 500ms;
                text-align: center;
                &:hover, &[class~=active] {
                    color: $c-orange;
                }
            }
        }
        .site-header__tel {
            display: inline-block;
            width: 100%;
            padding: 0 25px;
            margin: 10px auto;
            text-align: center;
        }
    }
    &__tel {
        font: bold 18px $f-r;
        color: $c-blue;
        text-decoration: unset;
        flex-shrink: 0;
    }
    .hamburger {
        display: none;
    }
    @media(max-width: 1280px) {
        &__right {
            ul {
                margin-right: 35px;
                padding-left: 0;
            }
        }
    }
    @media(max-width: 1120px) {
        &__right {
            ul {
                width: 725px;
                margin-right: 25px;
            }
        }
    }
    @media(max-width: 1024px) {
        height: 65px;
        &__left {
            img {
                width: 70px
            }
        }
        &__right {
            display: none;
        }
        .hamburger {
            display: initial;
        }
    }
}
.sticky {
    height: 80px;
    .site-header__nav-list-item-rel {
        ul {
            bottom: -30px;
            background-color: white;
            border-top: 0;
            border-bottom: 1px solid #e5e5e5;
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
        }
    }
    
    @media(max-width: 768px) {
        height: 65px;
    }
}
body:not(.home):not(.main) .site-header__nav-list-item-rel ul {
    background-color: white;
}