/**
* PALETTE SETTINGS
**/
$c_white: #ffffff;
$c_black: #000000;
$c_gray: #dfdfdf;
$c_gray1: #fafafa;
$c_blue_dark: #05243d;
$c_blue_medium: #17334b;
$c_blue_light: #387ce5;
$c_blue-l4: #101e2e;
$c_orange: #da812e;
/***
* CONSTS
**/
//font const
$DEFAULT_FONT_FAMILY: "Open Sans";
$DEFAULT_FONT_SIZE: 10px;
$DEFAULT_FONT_SIZE_BODY: font-size(14px);
$DEFAULT_LETTER_SPACING: 0px;
$DEFAULT_TEXT_COLOR: $c_black;
$DEFAULT_FONT_WEIGHT: normal;

$f-r: "Roboto", "sans-serif";


/**
* TEXT SETTINGS
**/
$text-settings: (
  'caption': ( // Smaller size text
    font-size: font-size(12px),
    font-weight: 500,
    line-height: line-height(12px, 12px),
  ),
  'body': ( // regular
    font-size: $DEFAULT_FONT_SIZE_BODY,
    line-height: 2.2em,
    font-weight: 400,
    letter-spacing: letter-spacing(0)
  ),
  'subheading': ( //  good for supporting text
    font-size: $DEFAULT_FONT_SIZE_BODY,
    line-height: 1.2em,
    font-weight: 500,
  ),
  'title': ( // as h6
    font-size: $DEFAULT_FONT_SIZE_BODY,
    line-height: line-height(16px, 14px),
    font-weight: bold,
    font-family: $f-r,
  ),
  'headline': ( // as h5
    font-size: font-size(16px),
    line-height: line-height(20px, 16px),
    font-weight: 500,
    letter-spacing: letter-spacing(0),
    font-family: $f-r,
  ),
  'display-1': ( // as h4
    font-size: font-size(16px),
    line-height: line-height(20px, 16px),
    font-weight: bold,
    letter-spacing: letter-spacing(0),
    font-family: $f-r,
  ),
  'display-2': ( // as h3
    font-size: font-size(18px),
    line-height: line-height(24px, 18px),
    font-weight: 500,
    letter-spacing: letter-spacing(0),
    font-family: $f-r,
  ),
  'display-3': ( // as h2
    font-size: font-size(30px),
    line-height: line-height(36px, 30px),
    font-weight: 300,
    letter-spacing: letter-spacing(50),
    font-family: $f-r,
    color: $c_blue-l4,
  ),
  'display-4': ( // as h1
    font-size: font-size(30px),
    line-height: line-height(34px, 28px),
    font-weight: lighter,
    letter-spacing: letter-spacing(0),
    font-family: $f-r,
  )
);