#mobile-menu.header-mobile__menu(style="display: none")
    ul
        li
            a(href="#") Test
        li.current-menu-item
            a(href="#") Test 2
        if !auth
            li
                a(href="#")
                    i.fas.fa-sign-in-alt
                    | Login
            li
                a(href="#")
                    i.fas.fa-user-plus
                    | Register