#mobile-menu.header-mobile__menu
    ul
        li.current-menu-item
            a(href="#") О компании
        li
            a(href="#") Новости
        li
            a(href="#") Оборудование
        li
            a(href="#") Решения
        li
            a(href="#") Сервис
        li
            a(href="#") Дилеры
        li
            a(href="#") Сервисные центры
        li
            a(href="#") Контакты        
    .header-mobile__tel
        a.header__phone-link(href="tel:88002500104")="8-800-250-01-04"