block footer
	footer.footer
		nav.footer-menu
			ul.footer-menu__links-list
				+addLink('#', 'Обзоры')
				+addLink('#', 'Сравнение')
				+addLink('#', 'Скачать софт')
				+addLink('#', 'Инструкции')
				+addLink('#', 'Полезная информация')
				+addLink('#', 'Новости')
				+addLink('#', 'Помощь')
		.footer-copyright
			.footer-copyright__logo
			.footer-copytight_info
				p Бла-бла-бла