block header
	header.site-header.container
		.site-header__wrap
			
			.hamburger.hamburger--slider.js-hamburger
				.hamburger-box
					.hamburger-inner
	.site-header-mobile(off-canvas='id-1 right overlay' id="id-1")
		.site-header-mobile-close
			.empty
			<i class="fa fa-times" aria-hidden="true"></i>
		.site-header-mobile-title Все категории
		ul
			li
				a(href="") 

		a.site-header__tel(href="tel:") 