.page {
    &-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;

    }

    &-section {
        width: calc(#{820 / 1110 * 100%} - 40px);
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &-sidebar {
        width: 300 / 1110 * 100%;
        display: flex;
        flex-direction: column;
        @include media-breakpoint-down(md) {
            width: 300px;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            padding-top: 40px;
            background-color: $c_white;
            box-shadow: -1px -3px 13px #80808078;
            overflow: auto;
            transform: translateX(calc(100% + 15px));
            transition: transform 600ms ease-in;
        }
        & > * {
            padding-bottom: 30px;
        }
        &-btn {
            &:focus + %sidebar {
                transform: translateX(0);
            }
        }
        @extend %sidebar;
    }
}