.page {
    &-content {
        display: flex;
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }

    &-sidebar {
        min-width: 300px;
       
    }
}