.page {
    &-content {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
    }

    &-section {
        @include media-breakpoint-up(lg) {
            max-width: 790px;
        }
        width:100%;
    }

    &-sidebar {
        max-width: 300px;
        width: 100%;
       
    }
}